<!DOCTYPE html>
<html>
	<head>
		<title>Trading Software | Stock</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="common/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="common/toastr.min.css">
		<script src="common/jquery/3.3.1/jquery.min.js"></script>
		<script src="common/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="common/angularjs/1.6.9/angular.min.js"></script>
		<script src="common/angularjs/1.6.9/angular-route.js"></script>
		<script src="common/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
		<script src="common/flash/dist/angular-flash.min.js"></script>
		<script src="common/toastr.min.js"></script>
	</head>
	<script type="text/javascript">
		$(function(){
			$("#header").load("common/header.html");
			$("#footer").load("common/footer.html");
		});
	</script>
	<body>
		<div id="header"></div>
		<div class="container" ng-app="">
			<div class="jumbotron">
			<h1>Stock</h1>
			</div>
		</div>
		<div id="footer"></div>
	</body>
</html>