<!DOCTYPE html>
<html lang="en">
<head>
  <title>P K Rubber Trading</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="common/style.css">
  
  <script type="text/javascript">
  	$(function(){
  		$("#header").load("/common/header.html");
  		$("#footer").load("/common/footer.html");
  	});
  </script>
  
</head>
<body>
	
	<div id="header"></div>
	
	<div id ="body" class="container">
		
	</div>
	
	<div id="footer"></div>
	
	<script type="text/javascript" src="common/script.js"></script>
</body>
</html>
