<!DOCTYPE html>
<html>
	<head>
		<title>Trading Software | Customer</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="common/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="common/toastr.min.css">
		<script src="common/jquery/3.3.1/jquery.min.js"></script>
		<script src="common/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="common/angularjs/1.6.9/angular.min.js"></script>
		<script src="common/angularjs/1.6.9/angular-route.js"></script>
		<script src="common/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
		<script src="common/flash/dist/angular-flash.min.js"></script>
		<script src="common/toastr.min.js"></script>
		<link rel="stylesheet" href="customer/style.css">
		
	</head>
	<script type="text/javascript">
		$(function(){
			$("#header").load("common/header.html");
			$("#footer").load("common/footer.html");
		});
	</script>
	<body ng-app="customerApp" ng-controller="customerCtrl">
		<div id="header"></div>
		
		<div id="dash-header">
			<span id="sub-header">Customer</span>
			<span>
				<button type="button" class="btn btn-default pull-right btn-sm" ng-click="refresh()">
					<i class="glyphicon glyphicon-refresh"></i>
				</button>
			</span>
			<span>
				<button type="button" class="btn btn-primary pull-right btn-sm" style="margin-right: 15px;" ng-click="addCustomer()">
					<i class="glyphicon glyphicon-plus"></i> <i class="glyphicon glyphicon-user"></i>
				</button>
				<button type="button" class="btn btn-primary pull-right btn-sm" style="margin-right: 15px;" ng-click="askToDelete()" ng-disabled="!selectStatus">
					Delete
				</button>
			</span>
		</div>
		
		<div class="container-fluid" >
			<div >
				<!-- To show flash messages -->
				<flash-message duration="100" style="width: 10%;"></flash-message>
				
				<div class="table-fixed" ng-style="testStyle">
					<table class='table table-hover'>
						<thead>
							<tr>
								<!-- <th style="width: 10px;"><input type="checkbox" ng-model="selectAllUser" ng-change="selectStatus=selectAllUser"/></th> -->
								<th style="width: 10px;"><input type="checkbox" ng-model="selectAllUser" ng-click="selectOrDeselectUsers(this)"/></th>
								<th style="width: 50px;">#</th>
								<th>SHOP NAME
									<form action="#" id="search-form" class="form-inline" role="from" >
										<div class="input-group">
											<input type="text" class="form-control search-form" placeholder="Search...">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</th>
								<th>CUSTOMER
									<form action="#" id="search-form" class="form-inline" role="from" >
										<div class="input-group">
											<input type="text" class="form-control search-form" placeholder="Search...">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</th>
								<th>PLACE
									<form action="#" id="search-form" class="form-inline" role="from" >
										<div class="input-group">
											<input type="text" class="form-control search-form" placeholder="Search...">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</th>
								<th>POST
									<form action="#" id="search-form" class="form-inline" role="from" >
										<div class="input-group">
											<input type="text" class="form-control search-form" placeholder="Search...">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</th>
								<th>DISTRICT
									<form action="#" id="search-form" class="form-inline" role="from" >
										<div class="input-group">
											<input type="text" class="form-control search-form" placeholder="Search...">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</th>
								<th>STATE
									<form action="#" id="search-form" class="form-inline" role="from" >
										<div class="input-group">
											<input type="text" class="form-control search-form" placeholder="Search...">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</th>
								<th>GSTIN
									<form action="#" id="search-form" class="form-inline" role="from" >
										<div class="input-group">
											<input type="text" class="form-control search-form" placeholder="Search...">
											<span class="input-group-btn">
												<button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q">
													<i class="glyphicon glyphicon-search"></i>
												</button>
											</span>
										</div>
									</form>
								</th>
							</tr>
						</thead>
						<tbody >
							<tr ng-repeat="x in customers">
								<!-- <td class="col-xs-1">{{($index + 1) + (($parent.selected-1)*selectedPageNo)}}</td>
								<td class="col-xs-2">{{x.shopName}}</td>
								<td class="col-xs-1">{{x.customerName}}</td>
								<td class="col-xs-2">{{x.place}}</td>
								<td class="col-xs-1">{{x.post}}</td>
								<td class="col-xs-1">{{x.district}}</td>
								<td class="col-xs-1">{{x.state}}</td>
								<td class="col-xs-2">{{x.gstin}}</td>
								<td>
									<button class="btn btn-success btn-sm" style="margin-right: 2px;">Edit</button>
									<button class="btn btn-danger btn-sm" ng-click="askToDelete(this)">Delete</button>
								</td> -->
								<!-- <td style="width: 10px;"><input type="checkbox" class="check-user" ng-checked="selectAllUser" ng-model="h" ng-change="check()"/></td> -->
								<td style="width: 10px;"><input type="checkbox" id="{{x.id}}" class="check-user" ng-checked="userCheck" ng-model="h" ng-click="check(this)"/></td>
								<td ng-click="viewCustomer(this)">{{($index + 1) + (($parent.selected-1)*selectedPageNo)}}</td>
								<td ng-click="viewCustomer(this)">{{x.shopName}}</td>
								<td ng-click="viewCustomer(this)">{{x.customerName}}</td>
								<td ng-click="viewCustomer(this)">{{x.place}}</td>
								<td ng-click="viewCustomer(this)">{{x.post}}</td>
								<td ng-click="viewCustomer(this)">{{x.district}}</td>
								<td ng-click="viewCustomer(this)">{{x.state}}</td>
								<td>{{x.gstin}}</td>
							</tr>
						</tbody>
					</table>
				</div>
				
			</div>
		</div>
		
		<div id="dash-footer">
			<ul class="pagination pagination-sm pagination-customer">
				<li ng-repeat="y in pages" ng-class="{active: $parent.selected == y}" ng-click="$parent.selected=y; paginatedResult(this);">
					<a href="" >{{y}}</a>
				</li>
			</ul>
			<select class="pull-right" id="pageNoSelect" ng-model="selectedPageNo" ng-options="pageNo for pageNo in noOfPages" ng-change="refreshPage(this);"></select>
		</div>
		
		<div id="footer"></div>
		
		<script type="text/javascript" src="customer/script.js"></script>
		<script type="text/javascript" src="customer/angular.js"></script>
	</body>
</html>



