<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="login/style.css">
</head>
<body>

	<div class="jumbotron text-center">
	  <h1 id="brand">Trading Software <sub>v1.0</sub></h1>
	  <p>Karinkallathani, Palakkad</p> 
	</div>
	  
	<div class="container">
		<div class="login-form text-center">
			<form>
				<div class="input-group input-group-custom">
				  <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
				  <input type="text" name="username" required="required" placeholder="Username" class="form-control">
				</div>
				<div class="input-group input-group-custom">
					<span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
					<input type="password" name="password" required="required" placeholder="Password" class="form-control">
				</div>
				
				<br/>
				<button class="btn btn-primary login-btn">Login</button>
			</form>
		</div>
	</div>

	<script type="text/javascript" src="login/script.js"></script>
</body>
</html>
