.form-error{
	color: red;
	padding-left: 5px;
}

#customer-header{
	font-family: ;
}

#popup-header{
	background-color: #33334d;
	color: white;
}

.cust-delete-table{
	padding: 10px;
	width: 60%;
	margin: 0 auto;
}

.cust-delete-table td{
	text-align: left;
	color: green;
	font-family: sans-serif;
	font-weight: bolder;
}

.table-fixed thead{
  width: 100%;
}

.table-fixed thead > tr > th{
	float:left;
	background-color: #f39c12;
	border-color:#e67e22;
}
.table-fixed tbody {
 /*  height: 500px; */
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}

.form-container{
	max-height: 500px;
	overflow-y: scroll;
}

.pagination-customer{
	margin-top: 2px;
    margin-bottom: 2px;
}

#pageNoSelect{
	margin-top: 7px;
}
