<!DOCTYPE html>
<html>
	<head>
		<title>Trading Software | About</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="common/bootstrap/3.3.7/css/bootstrap.min.css">
		<link rel="stylesheet" href="common/toastr.min.css">
		<script src="common/jquery/3.3.1/jquery.min.js"></script>
		<script src="common/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="common/angularjs/1.6.9/angular.min.js"></script>
		<script src="common/angularjs/1.6.9/angular-route.js"></script>
		<script src="common/bootstrap/ui-bootstrap-tpls-0.10.0.js"></script>
		<script src="common/flash/dist/angular-flash.min.js"></script>
		<script src="common/toastr.min.js"></script>
		<link rel="stylesheet" href="about/style.css">
	</head>
	<script type="text/javascript">
		$(function(){
			$("#header").load("common/header.html");
			$("#footer").load("common/footer.html");
		});
	</script>
	<body>
		<div id="header"></div>
		<div class="container" ng-app="">
			<div class="panel panel-primary">
				<div class="panel-heading"><h4><span class="glyphicon glyphicon-info-sign"></span> About</h4></div>
				<div class="panel-body">
					<h2><b>Trading Software <sub>v1.0</sub> &copy 2018</b></h2>
					<h4 style="color: green;"><span class="glyphicon glyphicon-tower"></span> Shahul P T</h4>
					<b><span class="glyphicon glyphicon-phone"></span> +91 9495429263 <br/>
					<span class="glyphicon glyphicon-envelope"></span> shahul1433@gmail.com</b>
				</div>
			</div>
		</div>
		<div id="footer"></div>
	</body>
</html>

